@media screen and (max-width:1400px){
    .registration-process .video-registration iframe{
        height: 350px;
    }

    .tourist-safety-management .content h1{
        font-size: 42px;
    }
}

@media screen and (max-width:1200px){
    .tourist-safety-management .content h1{
        font-size: 36px;
    }

    .tourist-safety-management .content p{
        font-size: 16px;
    }

    .explore-uk .content h1 {
        font-size: 45px;
    }
}

@media screen and (min-width:992px){
    .mobile-menu{
        display: none;
    }
}

@media screen and (max-width:992px) {
    section.top .carousel-item {
        height: 76vh;
    }

    .registration-process .reg-ver-process .box{
        padding: 30px;
    }

    .navs-pc{
        display: none;
    }
    nav li{
        padding: 12px 0;
    }
}

@media screen and (max-width:768px) {
    section.top .carousel-item {
        height: 66vh;
    }
    .top marquee span{
    font-size: 18px;
    }

    section.registration-process h1{
        font-size: 30px;
    }

    .registration-process .reg-ver-process .box i{
        display: none;
    }
    .registration-process .reg-ver-process .box{
        padding: 26px;
    }

    .tourist-safety-management .content h1{
        font-size: 28px;
    }
    .tourist-safety-management .content span {
        font-size: 18px;
    }

    .explore-uk .content h1 {
        font-size: 38px;
    }
}

@media screen and (max-width:576px) {
    section.top .carousel-item {
        height: 56vh;
    }

    section.registration-process .heading h1{
        font-size: 26px;
    }

    .tourist-safety-management .content h1{
        font-size: 24px;
    }
}

@media screen and (max-width:496px) {
    section.top .carousel-item {
        height: 46vh;
    }
    .top marquee span{
        font-size: 16px;
        }

    section.registration-process .heading h1{
        font-size: 20px;
    }
    .registration-process .heading span{
        font-size: 12px;
    }
    .registration-process .content h4{
        font-size: 18px;
    }

    .registration-process .content button{
        width: 155px;
        padding: 10px 6px;
        font-size: 15px;
    }
    .registration-process .video-registration iframe{
        height: 200px;
    }
    .registration-process .reg-ver-process h5{
        font-size: 16px;
    }

    .explore-uk .content h1 {
        font-size: 26px;
    }
    .explore-uk .content p {
        font-size: 16px;
    }
    .explore-uk .content span {
        font-size: 16px;
    }

    .about-chardham .heading h1{
        font-size: 24px;
    }
    .about-chardham .accordion-button h6{
        font-size: 15px;
    }
}